/* Specific styles for RegistrationForm page */
.registration-event-page {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('pexels-karolina-grabowska-7193659.jpg') ; /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: fixed; /* Keeps the image fixed when scrolling */
    min-height: 100vh; /* Ensures the full height is covered */
  }

.registration-form-container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 100px;
}

.registration-form-container h1 {
    font-size: 32px;
    color: #4CAF50;
    text-align: center;
}

.registration-form-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.registration-form-container p {
    font-size: 16px;
    color: #666;
}

.registration-form-container .error-message {
    color: #ff4c4c;
    font-weight: bold;
    text-align: center;
}

.registration-form-container .success-message {
    color: #28a745;
    font-weight: bold;
    text-align: center;
}

.registration-form-container form {
    margin-top: 20px;
}

.registration-form-container form div {
    margin-bottom: 15px;
}

.registration-form-container form label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.registration-form-container form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

.registration-form-container form input:focus {
    border-color: #4CAF50;
    outline: none;
}

.registration-form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.registration-form-container button:hover {
    background-color: #45a049;
}

.registration-form-container .event-details {
    margin-bottom: 20px;
}

.registration-form-container .event-details h2 {
    font-size: 28px;
    color: #333;
}

.registration-form-container .event-details p {
    font-size: 18px;
    color: #555;
}
