/* Navbar.css */
.navbar {
    background-color: #333333c5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .navbar-title {
    font-size: 1.25rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  